<div class="table-responsive panel panel-warning">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <div class="panel-heading">
        Trade History
      </div>
      <tr>
        <th>Date</th>
        <th>Trade</th>
        <th>Quantity</th>
        <th>Stock</th>
        <th>Symbol</th>
        <th>Price</th>
        <th>Delta</th>
      </tr>
    </thead>
    <tbody>
      <% @user_holdings.each do |trade| %>
      <tr>
        <th><%= trade.created_at %></th>
        <th><%= trade.quantity %></th>
        <th><%= trade.quantity %></th>
        <th><%= trade.stock_id %></th>
        <th><%= trade.stock_id %></th>
        <th>$115.23</th>
        <th>+ $5.02</th>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>