<div class="table-responsive panel panel-warning">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <div class="panel-heading">
        Trade History: <%="#{current_user.holdings.count}" %> trades to date
      </div>
      <tr>
        <th>Date</th>
        <th>Trade</th>
        <th>Quantity</th>
        <th>Stock</th>
        <th>Symbol</th>
        <th><span data-toggle="tooltip" title="Price at time of trade" data-placement="top">Price</span></th>
        <th><span data-toggle="tooltip" title="Difference in price from now and when you made the trade" data-placement="top">Profit/Loss</span></th>
      </tr>
    </thead>
    <tbody>
      <% @user_holdings.each do |trade| %>
      <tr>
        <th><%= trade.created_at.to_formatted_s(:custom_long_ordinal) %></th>
        <th><%= Holding.buy_or_sell(trade.quantity) %></th>
        <th><%= trade.quantity %></th>
        <th><%= stock_name(trade.stock_id) %></th>
        <th><%= stock_symbol(trade.stock_id) %></th>
        <th>$<%= trade.stock_price %></th>
        <th>+ $5.02</th>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>