<div class="table-responsive panel panel-info">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <div class="panel-heading">
        Your Stocks
        <div class="pull-right">
          <i class="material-icons">rotate_right</i>
        </div>
      </div>
      <tr>
        <th>Stock</th>
        <th>Symbol</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>Alphabet, Inc.</th>
        <th>GOOG</th>
        <th>$115.23</th>
      </tr>
      <tr>
        <th>Disney</th>
        <th>DIS</th>
        <th>$15.23</th>
      </tr>
    </tbody>
  </table>
</div>