<section id="create_stock">
  <h4>Realtime market data</h4>
  <h5>If a stock isn't listed here, enter its symbol to start tracking it.</h5>
  <%= form_for @stock, :url => {:action => :create, :controller => :stocks} do |f| %>
   <div>
      <%= f.text_field :name, placeholder: "GOOG"  %>
      <%= f.submit 'Track stock', class: 'btn btn-info' %>
    </div>
  <% end %>
</section>