<header>
  <hgroup>
    <h1>Trade real stocks with fake money</h1>
    <a href="#">&larr; visit website</a>
  </hgroup>
</header>

<nav>
  <ul>
    <li><a class="brick dashboard" href="#"><span class='icon ion-home'></span>Dashboard</a></li>
    <li><a class="brick pages" href="#"><span class='icon ion-document'></span>Pages</a></li>
    <li><a class="brick navigation" href="#"><span class='icon ion-android-share-alt'></span>Navigation</a></li>
    <li><a class="brick users" href="#"><span class='icon ion-person'></span>Users</a></li>
    <li><a class="brick settings" href="#"><span class='icon ion-gear-a'></span>Website Settings</a></li>
  </ul>
</nav>

<div id="content" class="pages">

  <header>
    <div class="brick identify">
      <span class="icon ion-document"></span>
    </div>

    <div class="brick title">
      <h2>Home Page</h2>
    </div>

    <div class="brick close">
      <span class="text">Close</span>
      <span class="icon ion-close"></span>
    </div>


    <div class="brick save">
      <span class="text">Save</span>
      <span class="icon ion-checkmark"></span>
    </div>

  </header>



  <div class="brick closed">
    <hgroup>
      <h2>Main Headline</h2>
      <a href="#" class="icon ion-close js-close close"></a>
      <form>
        <input type="text" />
      </form>
    </hgroup>
  </div>

  <div class="brick closed">
    <hgroup>
      <h2>About Me</h2>
      <a href="#" class="icon ion-close js-close close"></a>
      <form>
        <textarea></textarea>
      </form>
    </hgroup>
  </div>

  <div class="brick closed">
    <hgroup>
      <h2>Gallery</h2>
      <a href="#" class="icon ion-close js-close close"></a>
      <form>
        <textarea></textarea>
      </form>
    </hgroup>
  </div>

  <div class="brick closed">
    <hgroup>
      <h2>Page Settings</h2>
      <a href="#" class="icon ion-close js-close close"></a>
      <form>
        <textarea></textarea>
      </form>
    </hgroup>
  </div>


</div>

<footer>

</footer>

