<!-- refactor this non DRY wet nonsense be like the pokemon example -->
<!-- <a href="#" id="buy">Buy!</a> -->
<section id="make_trade_buy">
  <%= form_for :holdings, :url => {:action => :create, :controller => :holdings} do |f| %>
   <div>
      <% @stocks.each do |stock| %>
        <%= "$#{stock.price} #{stock.name}" %>
        <%= f.number_field stock.symbol, :placeholder => 'How many shares?' %></br />
        </br />
      <% end %>
      <%= f.submit 'Place order' %>
    </div>
  <% end %>
</section>
